<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <div class="foot-p">
                <h3>About Us</h3>
                <p >King Mongkut's Institute of Technology Ladkrabang,<br>
                            Chalongkrung Road, Ladkrabang, <br>
                            Bangkok 10520 Thailand.
                </p>
                    <p>roam-official@roam.com</p>
                    <p>&copy; 2018 by Nawaphorn, Phattarajaree and Mantana.</p>
                </div>
                <img class="foot-img" src="images/home/under.png" alt="">
            </div>
        </div>
    </div>
</footer>
</body>
</html>
