{% extends "header.html" %}
{% block title %}Home | Roam{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

<!--/#header-->
{% block body %}
<section id="blog" class="padding-bottom">

    <div class="timeline-blog overflow padding-top ">
        <div class="timeline-date text-center">
            <span class="btn btn-common uppercase">February 2018</span>
        </div>
        <div class="timeline-divider overflow padding-bottom">
            <table>
                <tr>
                    <td class="padding-left arrow-right fadeInLeft">
                        <div class="single-blog timeline">
                            <div class="single-blog-wrapper">
                                <div class="post-thumb">
                                    <a href="blogdetails1.html"><img src="../static/images/blogtimeline/1.jpg" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails1.html">เที่ยวยุโรป 7 เมือง 7 ค่าโง่</a>
                                </h2>
                                <p>เที่ยวยุโรป 7 เมือง 7 ค่าโง่ ให้คุณเที่ยวแบบไม่โง่...เพราะผมโง่ให้คุณล้าววว!
                                    ขอเกริ่นไว้ก่อนนิสนึงว่า กระทู้รีวิวนี้ ไม่ได้เน้นสถานที่ท่องเที่ยว, Landmark,
                                    Museum, วิธีการเดินทาง, S-Bahn, U-Bahn หรืออะไรบานๆ สักเท่าไหร่
                                    ผมแค่จะมาเล่าให้ฟังเฉยๆ ว่าไปแล้วเจออะไร เสียค่าโง่อะไรไปบ้าง เผื่อคนที่กำลังจะไป
                                    หรือคิดอยากไป จะได้พอเห็นภาพ และไม่พลาดอย่างผม</p>
                                <div class="post-bottom overflow">
                                    <span class="post-date">February 14, 2018</span>
                                    <span class="like-num">3</span>
                                    <a href="#">
                                    <span class="fa-heart">
                                    <img src="../static/images/home/like.png" onmouseover="hoverlike(this);"
                                         onmouseout="unhoverlike(this);"/>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-6 padding-left arrow-left fadeInRight">
                        <div class="single-blog timeline">
                            <div class="single-blog-wrapper">
                                <div class="post-thumb">
                                    <a href="blogdetails1.html"><img src="../static/images/blogtimeline/1.jpg" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="blogdetails1.html">เที่ยวยุโรป 7 เมือง 7 ค่าโง่</a>
                                </h2>
                                <p>เที่ยวยุโรป 7 เมือง 7 ค่าโง่ ให้คุณเที่ยวแบบไม่โง่...เพราะผมโง่ให้คุณล้าววว!
                                    ขอเกริ่นไว้ก่อนนิสนึงว่า กระทู้รีวิวนี้ ไม่ได้เน้นสถานที่ท่องเที่ยว, Landmark,
                                    Museum, วิธีการเดินทาง, S-Bahn, U-Bahn หรืออะไรบานๆ สักเท่าไหร่
                                    ผมแค่จะมาเล่าให้ฟังเฉยๆ ว่าไปแล้วเจออะไร เสียค่าโง่อะไรไปบ้าง เผื่อคนที่กำลังจะไป
                                    หรือคิดอยากไป จะได้พอเห็นภาพ และไม่พลาดอย่างผม</p>
                                <div class="post-bottom overflow">
                                    <span class="post-date">February 14, 2018</span>
                                    <span class="like-num">3</span>
                                    <a href="#">
                                    <span class="fa-heart">
                                    <img src="../static/images/home/like.png" onmouseover="hoverlike(this);"
                                         onmouseout="unhoverlike(this);"/>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

{% endblock %}


    
