{% extends "header.html" %}
{% block title %}Home | Roam{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

<!--/#header-->
{% block body %}
<section id="blog" class="padding-bottom">

    <div class="timeline-blog overflow padding-top ">
        <div class="timeline-date text-center">
            <span class="btn btn-common uppercase">RECOMMENDED</span>
        </div>
        <div class="timeline-divider overflow padding-bottom">
            <table>
                <tr>
                    <td class="padding-left arrow-right fadeInLeft">
                        <div class="single-blog timeline">
                            <div class="single-blog-wrapper">
                                <div class="post-thumb">
                                    <a href="blogdetails1.html"><img src="../static/images/religious/watarun_1.png" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">12 <br><small>Apr</small></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="place_watarun.html">[ วัดอรุณฯ ] Temple of the dawn.......เอกลักษณ์แห่งแผ่นดินสยาม</a>
                                </h2>
                                
                                <div class="post-bottom overflow">
                                        <span class="likespan">                    
                                                {% if countmsg %}
                                                    <div id="count"><span class="like-num">{{ countmsg }}</span></div>
                                                {% else %}
                                                    <div id="count"><span class="like-num">0</span></div>
                                                {% endif %}    
                                                <form method="POST" action="">
                                                    <span class="fa-heart">
                                                        {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                                        {% if messages %}                  
                                                        <button class="heartbtn" id="heartbtn" type="submit" value="place_museum_artinparadise"
                                                        name="likebtn">
                                                            <img src="../static/images/home/liked.png" 
                                                            onmouseover="unhoverlike(this);"
                                                            onmouseout="hoverlike(this);"
                                                            />
                                                        </button>
                                                        {% else %}
                                                        <button class="heartbtn" id="heartbtn" type="submit" value="place_museum_artinparadise"
                                                        name="likebtn">
                                                            <img src="../static/images/home/like.png" 
                                                            onmouseover="hoverlike(this);"
                                                            onmouseout="unhoverlike(this);"
                                                            />
                                                        </button>
                                                        {% endif %}
                                                        {% endwith %}
                                                    </span>
                                                </form>
                                            </span>
                                    <span class="post-date">April 12, 2018</span>                                      
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-6 padding-left arrow-left fadeInRight">
                        <div class="single-blog timeline">
                            <div class="single-blog-wrapper">
                                <div class="post-thumb">
                                    <a href="blogdetails1.html"><img src="../static/images/natural/kingrama9_1_ed.jpg" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">14 <br><small>Apr</small></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="place_suanluang.html">[ สวนหลวง ร.9 ] กรุงเทพฯมีอะไรให้เที่ยวมากกว่าเดินตากแอร์ในห้าง</a>
                                </h2>
                               
                                <div class="post-bottom overflow">
                                        <span class="likespan">                    
                                                {% if countmsg %}
                                                    <div id="count"><span class="like-num">{{ countmsg }}</span></div>
                                                {% else %}
                                                    <div id="count"><span class="like-num">0</span></div>
                                                {% endif %}    
                                                <form method="POST" action="">
                                                    <span class="fa-heart">
                                                        {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                                        {% if messages %}                  
                                                        <button class="heartbtn" id="heartbtn" type="submit" value="place_museum_artinparadise"
                                                        name="likebtn">
                                                            <img src="../static/images/home/liked.png" 
                                                            onmouseover="unhoverlike(this);"
                                                            onmouseout="hoverlike(this);"
                                                            />
                                                        </button>
                                                        {% else %}
                                                        <button class="heartbtn" id="heartbtn" type="submit" value="place_museum_artinparadise"
                                                        name="likebtn">
                                                            <img src="../static/images/home/like.png" 
                                                            onmouseover="hoverlike(this);"
                                                            onmouseout="unhoverlike(this);"
                                                            />
                                                        </button>
                                                        {% endif %}
                                                        {% endwith %}
                                                    </span>
                                                </form>
                                            </span>
                                    <span class="post-date">April 14, 2018</span>
                                    
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div style="height:80px;"></div></td>
                    <td><div style="height:80px;"></div></td>
                </tr>
                 <tr>
                    <td class="padding-left arrow-right fadeInLeft">
                        <div class="single-blog timeline">
                            <div class="single-blog-wrapper">
                                <div class="post-thumb">
                                    <a href="blogdetails1.html"><img src="../static/images/museum/museum_artinparadise_2.jpg" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="place_museum_artinparadise.html">[ Art in paradise BKK ] เสพสรรงานศิลป์ ด้วยตัวคุณ</a>
                                </h2>
                                
                                <div class="post-bottom overflow">
                                        <span class="likespan">                    
                                                {% if countmsg %}
                                                    <div id="count"><span class="like-num">{{ countmsg }}</span></div>
                                                {% else %}
                                                    <div id="count"><span class="like-num">0</span></div>
                                                {% endif %}    
                                                <form method="POST" action="">
                                                    <span class="fa-heart">
                                                        {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                                        {% if messages %}                  
                                                        <button class="heartbtn" id="heartbtn" type="submit" value="place_museum_artinparadise"
                                                        name="likebtn">
                                                            <img src="../static/images/home/liked.png" 
                                                            onmouseover="unhoverlike(this);"
                                                            onmouseout="hoverlike(this);"
                                                            />
                                                        </button>
                                                        {% else %}
                                                        <button class="heartbtn" id="heartbtn" type="submit" value="place_museum_artinparadise"
                                                        name="likebtn">
                                                            <img src="../static/images/home/like.png" 
                                                            onmouseover="hoverlike(this);"
                                                            onmouseout="unhoverlike(this);"
                                                            />
                                                        </button>
                                                        {% endif %}
                                                        {% endwith %}
                                                    </span>
                                                </form>
                                            </span>
                                    <span class="post-date">February 14, 2018</span>
                                    
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-6 padding-left arrow-left fadeInRight">
                        <div class="single-blog timeline">
                            <div class="single-blog-wrapper">
                                <div class="post-thumb">
                                    <a href="blogdetails1.html"><img src="../static/images/market/rodfai_1_ed.jpg" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">22 <br><small>Feb</small></a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="place_rodfai.html">[ ตลาดนัดรถไฟ ] เดินกินเดินเที่ยวที่ศรีนครินทร์</a>
                                </h2>
                               
                                <div class="post-bottom overflow">
                                        <span class="likespan">                    
                                                {% if countmsg %}
                                                    <div id="count"><span class="like-num">{{ countmsg }}</span></div>
                                                {% else %}
                                                    <div id="count"><span class="like-num">0</span></div>
                                                {% endif %}    
                                                <form method="POST" action="">
                                                    <span class="fa-heart">
                                                        {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                                        {% if messages %}                  
                                                        <button class="heartbtn" id="heartbtn" type="submit" value="place_museum_artinparadise"
                                                        name="likebtn">
                                                            <img src="../static/images/home/liked.png" 
                                                            onmouseover="unhoverlike(this);"
                                                            onmouseout="hoverlike(this);"
                                                            />
                                                        </button>
                                                        {% else %}
                                                        <button class="heartbtn" id="heartbtn" type="submit" value="place_museum_artinparadise"
                                                        name="likebtn">
                                                            <img src="../static/images/home/like.png" 
                                                            onmouseover="hoverlike(this);"
                                                            onmouseout="unhoverlike(this);"
                                                            />
                                                        </button>
                                                        {% endif %}
                                                        {% endwith %}
                                                    </span>
                                                </form>
                                            </span>
                                    <span class="post-date">February 22, 2018</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

{% endblock %}


    
