{% extends "header.html" %}
{% block title %}สวนสัตว์ดุสิต{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>สวนสัตว์ดุสิต</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/natural/dusit_9_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/dusit_8_ed.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/dusit_10_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/dusit_11.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>สวนสัตว์ดุสิต (Dusit Zoo) หรือในชื่อที่เราคุ้นหูกันคือ สวนสัตว์เขาดินเดิมเป็นส่วนหนึ่งของพระราชอุทยานสวนดุสิตโดยพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว
                    รัชกาลที่ 5 ทรงโปรดเกล้าฯ ให้สร้างขึ้นเป็นสถานที่พักผ่อนส่วนพระองค์ และทรงนำกวางดาวฝูงหนึ่งจากชวามาเลี้ยงรวมกับสัตว์อื่นๆ หลายชนิด</p>
                <p>ต่อมาในรัชสมัย พระบาทสมเด็จพระเจ้าอยู่หัวอานันทมหิดล รัชกาลที่ 8 คณะรัฐบาลได้กราบบังคมทูล ขอพระราชทานสวนดุสิตให้เทศบาลนครกรุงเทพฯ
                    ดำเนินการจัดสร้างเป็นสวนสัตว์ และเป็นที่พักผ่อนของประชาชน และให้ใช้ชื่อว่า “สวนสัตว์ดุสิต” ซึ่งชาวบ้านทั่วไปเรียกว่า“เขาดินวนา” เป็นที่มาของสวนสัตว์เขาดินในทุกวันนี้ในที่สุด</p>
                <p>สวนสัตว์เขาดินเป็นสวนสัตว์ที่เปิดให้ประชาชนสามารถเข้าชมสัตว์ชนิดต่างๆ ได้ และรวบรวมสัตว์นานาชนิดเอาไว้ พร้อมทั้งให้ข้อมูลเกี่ยวกับสัตว์ป่าตามธรรมชาติและสิ่งแวดล้อม
                    เป็นสถานที่ที่เหมาะแก่การมาพักผ่อนหย่อนใจ และเข้ามาเที่ยวชมสัตว์แปลกๆ ที่ไม่สามารถพบเจอได้ในชีวิตจริง และยังเหมาะแก่การพาเด็กๆ มาศึกษาหาความรู้เกี่ยวกับสัตว์ชนิดต่างๆ ในโลกของเราด้วย</p>

            </div>

        </div>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                {% if messages %}                  
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </span>
                            </form>
                        </span>
            <span class="post-date">May 8, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>ตั้งอยู่เลขที่ 71 ถนนพระรามที่ 5 แขวงดุสิต เขตดุสิต กรุงเทพมหานคร </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดทุกวัน เวลา 08.00 - 18.00 น. </p>

            <div id="map"></div>

        </div>

    </div>
</section>

<script>
function myMap() {
    var place = {lat: 13.774203, lng: 100.516179};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

</body>
</html>
{% endblock %}