{% extends "header.html" %}
{% block title %}Art in paradise BKK{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <h3>{{ messages }}</h3>
                {% endif %}
            {% endwith %}
<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>Art in paradise BKK</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_artinparadise_1.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_artinparadise_2.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_artinparadise_3.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_artinparadise_4.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>Art in Paradise กรุงเทพฯ พิพิธภัณฑ์รูปภาพสามมิติ ที่มีดีมากกว่าความสวยสมจริง ใครที่หลงใหลในภาพสามมิติล่ะก็ ที่นี่น่าจะเป็นคำตอบที่ดี<br></p>
                <p>Art in Paradise กรุงเทพฯ จะแบ่งเป็น 5 โซนด้วยกัน คือ โซนโลกใต้สมุทรและโซนซาฟารี, โซนภาพคลาสสิก, โซนแฟนตาซี, โซนธรรมชาติ และโซนศิลปะแบบโมเดิร์น
                    แต่ละโซนนั้นมีความสวยงามและโดดเด่นต่างกันไป ซึ่งนอกจากจะได้ชมความงดงามเสมือนจริงของภาพโซนต่างๆ แล้ว คุณยังจะได้เรียนรู้เทคนิคการวาดภาพแบบ 3 มิติ ที่ต้องสังเกตด้วยตัวเองนะคะ
                    เพราะบรรดาจิตรกรเขาบอกว่าเทคนิคเหล่านี้บอกกันไม่ได้ ถ้าใครอยากรู้ต้องมาสัมผัสเองที่นี่ นอกจากภาพวาดสวยๆ แล้ว ยังมีมุมของ Interactive Media วิดีโอ
                    ที่สามารถโต้ตอบกับคนดูได้ทั้งปฏิกิริยา สีหน้า และท่าทาง ถือเป็นอีกมุมหนึ่งที่เรียกรอยยิ้มของผู้เข้าชมได้ไม่น้อย
                </p>
            </div>
        </div>

        <div class="aside padding-bottom">
            <span class="likespan">
                <span class="like-num">3</span>
                <form method="POST" action="">
                <span class="fa-heart">
                    {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                    {% if messages %}                  
                    <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                    name="likebtn">
                        <img src="../static/images/home/liked.png" 
                        onmouseover="unhoverlike(this);"
                        onmouseout="hoverlike(this);"/>
                    </button>
                    {% else %}
                    <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                    name="likebtn">
                        <img src="../static/images/home/like.png" 
                        onmouseover="hoverlike(this);"
                        onmouseout="unhoverlike(this);"/>
                    </button>
                    {% endif %}
                    {% endwith %}
                </span>
                </form>
            </span>
            <span class="post-date">February 14, 2018</span>           
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>ชั้น 4 ห้างสรรพสินค้าเอสพลานาด ถนนรัชดาภิเษก เขตห้วยขวาง กรุงเทพฯ 10400 <br><br>
                โทรศัพท์ 02-660-9130</p>
            <h3>เวลาทำการ</h3>
            <p>เปิดให้บริการทุกวัน <br>เวลา: 10.00 - 22.00 น.</p>
            <p>
            <table class="fee">
                <tr>
                    <td>ผู้เข้าชม</td>
                    <td>ราคาบัตร</td>
                </tr>
                <tr>
                    <td>ชาวต่างชาติ<br>(ผู้ใหญ่)</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>ชาวไทย<br>(ผู้ใหญ่)</td>
                    <td>180</td>
                </tr>
                <tr>
                    <td>เด็กต่างชาติ</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>เด็กไทย</td>
                    <td>120</td>
                </tr>
            </table>
            </p>
            <div id="map"></div>
        </div>
    </div>
</section>
 

<script>
function myMap() {
    var place = {lat: 13.766544, lng: 100.569366};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}

</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

{% endblock %}