{% extends "header.html" %}
{% block title %}วัดพระศรีรัตนศาสดาราม{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages}}");
</script>
{% endif %}
{% endwith %}
  
<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>วัดพระศรีรัตนศาสดาราม</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/religious/watphakeaw_1.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watphakeaw_2.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watphakeaw_3.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watphakeaw_5.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watphakeaw_6.png">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watphakeaw_7.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>วัดพระแก้วเป็นที่ประดิษฐานของพระพุทธมหามณีรัตนปฏิมากร หรือพระแก้วมรกต พระพุทธรูปปางสมาธิอันเป็นที่เคารพสักการะของพุทธศาสนิกชนไทย วัดพระแก้วตั้งอยู่ในเขตพระบรมมหาราชวัง
                    มีชื่ออย่างเป็นทางการว่าวัดพระศรีรัตนศาสดาราม รัชกาลที่ 1 โปรดเกล้าฯ ให้สร้างวัดพระแก้วขึ้นในปี 2325 และได้ทรงอัญเชิญพระแก้วมรกตที่แต่เดิมอยู่ที่วัดอรุณ มาประดิษฐานยังวัดนี้แทน</p>
                <p>พระอุโบสถอันเป็นที่ประดิษฐานพระแก้วมรกตได้รับการตกแต่งอย่างวิจิตรงดงาม องค์พระแก้วมรกตไม่ได้ทำขึ้นจากมรกต แต่แกะสลักขึ้นจากหยกอ่อนสีเขียวมรกต
                    หลักฐานระบุว่าพบพระแก้วมรกตครั้งแรกในปี 1977 ในวัดที่จังหวัดเชียงราย โดยถูกพอกปูนทับไว้จนทึบเหมือนพระพุทธรูปทั่วไป เมื่อเนื้อปูนกะเทาะออกจึงพบว่าเป็นพระพุทธรูปหยกทั้งองค์</p>
                <p> พุทธศาสนิกชนชาวไทยยังคงเดินทางมายังวัดพระแก้วเพื่อนมัสการพระแก้วมรกต ซึ่งมีเครื่องทรงครบ 3 ฤดู คือ ฤดูร้อน ฤดูฝน และฤดูหนาว และมีพระราชพิธีเปลี่ยนเครื่องทรงทุกปีมาจนปัจจุบัน
                    นอกจากพระแก้วมรกตและอุโบสถอันงดงามแล้ว วัดพระแก้วยังมีสิ่งที่น่าสนใจอีกมากมาย เช่น ปราสาทพระเทพบิดร และนครวัดจำลองที่สร้างขึ้นในสมัยรัชกาลที่ 4
                    หากเดินผ่านยักษ์ทวารบาลไปยังบริเวณพระระเบียง ก็จะพบจิตรกรรมฝาผนังที่ร้อยเรียงเรื่องราวจากวรรณคดีเรื่องรามเกียรติ์ พระบรมมหาราชวังและวัดพระแก้วเปิดให้เข้าชมทุกวัน
                    โดยคนไทยสามารถเข้าชมฟรี แต่อย่าลืมแต่งกายให้เหมาะสม</p>

            </div>

        </div>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                {% if messages %}                  
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </span>
                            </form>
                        </span>
            <span class="post-date">February 14, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>ถนนหน้าพระลาน แขวงพระบรมมหาราชวัง เขตพระนคร 10200</p>
            <h3>เวลาทำการ</h3>
            <p>ทุกวัน เวลา : 08.30 – 15.30 น.</p>
            <p>คนไทยไม่เสียค่าเข้าชม ชาวต่างชาติเสียค่าเข้าชม 500 บาท</p>

            <div id="map"></div>

        </div>

    </div>
</section>

<script>
function myMap() {
    var place = {lat: 13.751705, lng: 100.492701};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
    }
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

{% endblock %}
