{% extends "header.html" %}
{% block title %}ตลาดน้ำคลองลัดมะยม{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages}}");
</script>
{% endif %}
{% endwith %}
  

<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>ตลาดน้ำคลองลัดมะยม</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/market/khlongladmayom_1_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/khlongladmayom_2_ed.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/khlongladmayom_3_ed.jpg">
                </div>


                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>ตลาดน้ำคลองลัดมะยม ตั้งอยู่ในเขตตลิ่งชัน  เป็นตลาดน้ำที่เกิดจากรวมตัวของชาวบ้านชุมชนริมคลองลัดมะยม แต่เดิมเป็นตลาดริมน้ำเล็กๆ พอให้ ชาวบ้านได้จับจ่ายใช้สอยหรือแลกเปลี่ยนข้าวของกัน
                    มายุคหนึ่งที่การคมนาคมทางถนนมีมากขึ้น มีรถยนต์วิ่งผ่านไปมา ทำให้การค้าที่ตลาดริมน้ำแห่งนี้หมดความสำคัญลงจนเลิกราไป ในที่สุดชาวบ้านจึงรวมตัวให้ชุมชนได้มีแหล่งจำหน่ายสินค้าที่ผลิตในชุมชน
                    เสนอกิจกรรมในคลอง ก็ต้องอนุรักษ์แม่น้ำลำคลอง เพื่อให้คูคลองสะอาดอยู่ตลอดเวลา </p>
                <p>ตลาดน้ำคลองลัดมะยมเป็นแหล่งจำหน่ายสินค้าที่ผลิตในชุมชน รวมทั้งผักผลไม้ ขนม อาหารคาวหวาน ที่ทำสืบต่อกันมารวมไปถึงยังมีสินค้า ประเภทต้นไม้ดอกไม้ กล้วยไม้
                    เป็นตลาดที่เน้นในเรื่องของงานศิลปะ มีร้านค้าขายของที่ระลึก งานแฮนด์เมด ที่น่ารักและแตกต่างจากตลาดน้ำอื่นๆ มีมุมศิลปะกิจกรรมเพนท์รูปเพื่อให้ครอบครัวได้ทำกิจกรรมร่วมกัน   </p>
                <p> นอกจากนี้ยังมีบริการพายเรือ กิจกรรมอีกอย่างที่ไม่ควรพลาดคือ นั่งเรือชมวิถีชีวิต คลองลัดมะยม รวมถึงบริการเรือแจวชมธรรมชาติคนละ 20 บาท
                    ได้เดินเล่นกินของอร่อยในบรรยากาศที่เรียบง่ายป็นกันเองของพ่อค้าแม่ค้า ในตลาดที่ ส่งรอยยิ้มเชิญชวนให้แวะรับประทานอาหาร ทำให้ทุกวันหยุดสุดสัปดาห์มีนักท่องเที่ยวแวะเวียนมาเยี่ยมเยือนกันอย่างไม่ขาดสาย</p>

            </div>

        </div>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                {% if messages %}                  
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </span>
                            </form>
                        </span>
            <span class="post-date">January 20, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>ถนนบางระมาด แขวงบางระมาด เขตตลิ่งชัน กรุงเทพมหานคร </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดทุกวันเสาร์-อาทิตย์ และวันหยุดนักขัตฤกษ์ ตั้งแต่เวลา 09:00-15:00 น.</p>

            <div id="map"></div>

        </div>

    </div>
</section>

<script>
function myMap() {
    var place = {lat: 13.761872, lng: 100.415635};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>
{% endblock %}