{% extends "header.html" %}
{% block title %}วัดสระเกศราชวรมหาวิหาร{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(category_filter=["loginfirst"]) %}
{% if messages %}
<script>
    alert("{{messages}}");
</script>
{% endif %}
{% endwith %}
  
<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>วัดสระเกศราชวรมหาวิหาร</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/religious/watgloden_1.png">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watgloden_2.png" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watgloden_3.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watgloden_4.png">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>วัดสระเกศ (ภูเขาทอง) อยู่นอกกำแพงเมือง ริมคลองมหานาค ตรงที่บรรจบกับคลองบางลำพู เดิมเป็นวัดเก่าชื่อว่า “วัดสะแก”
                    ได้รับการสถาปนาขึ้นใหม่ทั้งพระอารามในสมัยรัชกาลพระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลก และพระราชทานนามว่า”วัดสระเกศ”
                    ส่วนเจดีย์ภูเขาทองนั้นเริ่มสร้างในสมัยพระบาทสมเด็จพระนั่งเกล้าเจ้าอยู่หัวโดยทรงเลียนแบบมาจากภูเขาทองในสมัยกรุงศรีอยุธยาแล้วเสร็จในรัชสมัยพระบาทสมเด็จพระจอมเกล้าเจ้าอยู่หัวทรงได้รับพระราชทานนามว่า
                    ”บรมบรรพต” ต่อมาพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวเสด็จพระราชดำเนินประกอบพระราชพิธีอัญเชิญพระบรมสารีริกธาตุที่บูชาไว้ใน
                    พระบรมมหาราชวังและพระบรมสารีริกธาตุที่ทางรัฐบาลอังกฤษเมื่อครั้งยังปกครองประเทศอินเดียถวายแด่พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว มาประดิษฐานในพระเจดีย์ภูเขาทอง</p>
                <p>ภายในพระอุโบสถประดิษฐานพระประธานปางสมาธิองค์ใหญ่ ผนังรอบพระอุโบสถทั้งสี่ด้านนั้นประดับภาพจิตรกรรมอันงดงาม เบื้องบนเขียนภาพเทวดาและท้าวจตุโลกบาล
                    ด้านตรงข้ามกับพระประธานเป็นภาพพุทธประวัติตอนมารวิชัย ระหว่างซุ้มหน้าต่างวาดเป็นภาพทศชาติของสมเด็จพระสัมมาสัมพุทธเจ้า ส่วนด้านหลังพระประธานเป็นภาพไตรภูมิ
                    เมื่อกราบท่านแล้วแหงนมองพระพักตร์ท่านและดูรอบๆพระอุโบสถจะได้ความรู้สึกอิ่มตาสบายใจ</p>
                <p>องค์พระบรมสารีริกธาตุที่รัฐบาลอังกฤษได้น้อมเกล้าถวายแด่พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวเมื่อร้อยกว่าปีก่อนนั้นประดิษฐานอยู่ภายในเจดีย์ภูเขาทองนี้
                    นอกจากนี้ภายในมณฑปแห่งนี้ก็มีประดิษฐานไว้ให้กราบไหว้เช่นกัน</p>

            </div>

        </div>

        <script>
            $("#heartbtn").click(function() {
            $("#count").load(" #count");
          }); 
        </script>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                {% if messages %}                  
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </span>
                            </form>
                        </span>
            <span class="post-date">February 14, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>ริมคลองมหานาคและคลองรอบกรุง แขวงบ้านบาตร เขตป้อมปราบศัตรูพ่าย กรุงเทพมหานคร 10100</p>
            <h3>เวลาทำการ</h3>
            <p>ทุกวัน เวลา : 08.00 - 18.00 น.</p>
            <p>คนไทยไม่เสียค่าเข้าชม ชาวต่างชาติ 20 บาท </p>

            <div id="map"></div>

        </div>

    </div>
</section>


<script>
function myMap() {
    var place = {lat: 13.753963, lng: 100.506668};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

{% endblock %}
