{% extends "header.html" %}
{% block title %}พิพิธภัณฑ์ผ้าในสมเด็จพระนางเจ้าสิริกิติ์ พระบรมราชินีนาถ{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}

<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>พิพิธภัณฑ์ผ้าในสมเด็จพระนางเจ้าสิริกิติ์ พระบรมราชินีนาถ</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_fabricqueen_1.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_fabricqueen_2.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_fabricqueen_3.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_fabricqueen_4.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_fabricqueen_5.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>
                    พิพิธภัณฑ์ผ้า ในสมเด็จพระนางเจ้าสิริกิติ์ พระบรมราชินีนาถ ตั้งอยู่ ณ หอรัษฎากรพิพัฒน์ ตั้งอยู่ในเขตพระราชฐานชั้นนอก ริมกาแพงพระบรมมหาราชวังด้านทิศเหนือ ปรากฏหลักฐานการใช้พื้นที่บริเวณดังกล่าวมาตั้งแต่ต้นกรุงรัตนโกสินทร์ มีการบูรณะปรับปรุง และก่อสร้างเพิ่มเติมหลายครั้ง
                </p>
                <p>
                    พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว รัชกาลที่ ๕ ทรงพระกรุณาโปรดเกล้าฯ ให้ก่อสร้างอาคาร ๒ ชั้นเป็นแถวยาวเมื่อ พุทธศักราช ๒๔๑๓ และพระราชทานนาม หอรัษฎากรพิพัฒน์ เพื่อเป็นที่ทาการกรมพระคลังมหาสมบัติ มีหน้าที่บริหารงานด้านการจัดเก็บระเบียบภาษีอากร ต่อมาอาคารนี้ได้กลายเป็นที่ทาการของหน่วยงานอย่างน้อย ๔ หน่วยงาน ได้แก่ สานักงานธนาคารชาติไทย กรมธนารักษ์ ราชบัณฑิตยสถาน กองพระราชพิธี จากนั้นจึงว่างเว้นจากการใช้งาน
                </p>
                <p>
                    ในพุทธศักราช ๒๕๔๖ สมเด็จพระนางเจ้าฯ พระบรมราชินีนาถ กราบบังคมทูลขอพระราชทานพระบรมราชานุญาตจากพระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดชขอพระราชทานพระบรมราชานุญาต ใช้อาคารหอรัษฎากรพิพัฒน์ เป็นที่ตั้งของพิพิธภัณฑ์ผ้าฯ
                </p>
            </div>

        </div>

        <div class="aside padding-bottom">
            <span class="post-date">May 4, 2018</span>
            <span class="like-num">3</span>
            <span class="fa-heart">
                <img src="../static/images/home/like.png" onmouseover="hoverlike(this);"
                     onmouseout="unhoverlike(this);"/>
            </span>
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>หอรัษฎากรพิพัฒน์ ถนนหน้าพระลาน แขวงพระบรมมหาราชวัง เขตพระนคร กรุงเทพมหานคร 10200 ประเทศไทย <br><br>
                Website: <a href="http://www.qsmtthailand.org">http://www.qsmtthailand.org </a><br>
                โทรศัพท์ 02-225-9420, 02-225-9430
            </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดให้บริการทุกวัน <br>เวลา : 09.00 - 16.30 น.</p>
                <table class="fee">
                    <tr>
                        <td>ผู้เข้าชม</td>
                        <td>ราคาบัตร</td>
                    </tr>
                    <tr>
                        <td>ผู้ใหญ่</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td>ผู้สูงอายุ<br>(อายุ 65 ปีขึ้นไป)</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>นักเรียน/นักศึกษา<br>(แสดงบัตรประจำตัว)</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>เด็ก<br>(อายุ 12-18 ปี)</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>เด็ก<br>(อายุต่ำกว่า 12 ปี)</td>
                        <td>ฟรี</td>
                    </tr>
                </table>
            <div id="map"></div>
        </div>
    </div>
</section>

<script>
function myMap() {
    var place = {lat: 13.751953, lng: 100.490927};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

{% endblock %}
