{% extends "header.html" %}
{% block title %}วัดอรุณราชวรารามราชวรมหาวิหาร{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(category_filter=["loginfirst"]) %}
{% if messages %}
<script>
    alert("{{messages}}");
</script>
{% endif %}
{% endwith %}
<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>วัดอรุณราชวรารามราชวรมหาวิหาร</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/religious/watarun_1.png">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watarun_2.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watarun_3.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watarun_4.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watarun_5.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>วัดอรุณฯ เป็นวัดที่มีมาตั้งแต่ครั้งสมัยกรุงศรีอยุธยา เดิมชื่อว่า "วัดแจ้ง" วัดนี้ได้รับการบูรณะปฏิสังขรณ์ครั้งใหญ่ในสมัยรัชกาลที่ 2 จึงถือเป็นวัดประจำรัชกาลที่ 2
                    เมื่อบูรณะเสร็จแล้วได้พระราชทานนามว่า "วัดอรุณราชธาราม" ต่อมาในสมัยรัชกาลที่ 3 ได้มีการก่อสร้างพระปรางค์องค์ใหญ่ มีความสูง 82 เมตร กว้าง 234 เมตร
                    และมีพระปรางค์องค์เล็กอยู่รอบพระปรางค์ใหญ่อีก 4 ทิศ แต่มาเสร็จสมบูรณ์ในสมัยรัชกาลที่ 4 และทรงเปลี่ยนชื่อเป็น "วัดอรุณราชวราราม" พระปรางค์วัดอรุณถือเป็นสัญลักษณ์อย่างหนึ่งของกรุงเทพฯ
                    ที่รู้จักกันไปทั่วโลก เป็นสถาปัตยกรรมที่ทรงคุณค่าทางประวัติศาสตร์ของชาติไทย</p>
                <p>ทางวัดเปิดให้นักท่องเที่ยวสามารถเดินขึ้นไปเยี่ยมชมความงดงามของพระปรางค์วัดอรุณฯ กันแบบใกล้ชิดได้ โดยรอบพระปรางค์จะมีขั้นบันไดให้เดินขึ้นไปชม
                    แต่จะขึ้นไปได้ชั้นเดียว เนื่องจากในชั้นสูง ๆ ขึ้นไป บันไดชันมากอาจเกิดอันตรายกับนักท่องเที่ยวได้ </p>
                <p> เมื่อพิจารณาดูสถาปัตยกรรมขององค์พระปรางค์ใกล้ๆ จะเห็นว่าประดับประดาไปด้วยกระเบื้องเคลือบ ถ้วยชามแบบสมัยโบราณ เปลือกหอย เป็นลวดลายดอกไม้ ใบไม้
                    และลายอื่น ๆ มีรูปปั้นมารแบกเรียงรายอยู่โดยรอบ ลองคิดดูว่าช่างไทยสมัยก่อนต้องใช้แรงงานและแรงใจเท่าไหร่ในการรังสรรค์งานเหล่านี้ขึ้นมา คิดแล้วก็น่ายกย่องจริง ๆ
                    เราเดินไปตามทางเดินที่ค่อนข้างแคบ จะเดินวนได้ครบรอบพระปรางค์เลย ลมข้างบนเย็นสบาย มองลงมาเห็นวิวทิวทัศน์รอบ ๆ วัดอรุณฯ เห็นแม่น้ำเจ้าพระยาฉากหลังมีวัดพระแก้วอยู่ไม่ไกลดูไทย ๆ ดีนะ
                    มีนักท่องเที่ยวต่างชาติทั้งฝรั่ง ทั้งเอเซียขึ้นมากันเป็นกลุ่ม ๆ ถ่ายรูปกันอย่างสนุกสนาน</p>

            </div>

        </div>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                {% if messages %}                  
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </span>
                            </form>
                        </span>
            <span class="post-date">April 12, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>34 ถนนอรุณอมรินทร์ แขวงวัดอรุณ เขตบางกอกใหญ่ กรุงเทพมหานคร ไทย ประเทศไทย 10600</p>
            <h3>เวลาทำการ</h3>
            <p>ทุกวัน เวลา : 08.00 – 17.30 น.</p>
            <p>คนไทยไม่เสียค่าเข้าชม ชาวต่างชาติ 50 บาท </p>

            <div id="map"></div>

        </div>

    </div>
</section>


<script>
function myMap() {
    var place = {lat: 13.743727, lng: 100.488938};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

{% endblock %}