{% extends "header.html" %}
{% block title %}Asiatique{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
  
<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>Asiatique</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/market/asiatique_1_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/asiatique_2_ed.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/asiatique_3_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/asiatique_4_ed.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>แหล่งท่องเที่ยวและช้อปปิ้งไลฟ์สไตล์ริมแม่น้ำเจ้าพระยาอย่าง เอเชียทีค เดอะ ริเวอร์ฟร้อนท์  (ASIATIQUE, The Riverfront) จะทวีความแรงขึ้นเรื่อย ๆ
                    อาจเพราะด้วยรูปลักษณ์ที่ตอบโจทย์ บวกกับบรรยากาศและทัศนียภาพที่แปลกใหม่ สวยงาม รวมถึงตกแต่งด้วยสไตล์สถาปัตยกรรมในช่วง พ.ศ. 2450 ถึง พ.ศ. 2490
                    จึงไม่แปลกที่ เอเชียทีค เดอะ ริเวอร์ฟร้อนท์ จะกลายเป็นแลนด์มาร์คแห่งใหม่ของกรุงเทพฯ ในระยะเวลาไม่นาน</p>
                <p>เอเชียทีค เดอะ ริเวอร์ฟร้อนท์ ถือกำเนิดขึ้นภายใต้แนวคิด Festival Market and Living Museum แหล่งท่องเที่ยวและไลฟไสตล์ช้อปปิงริมแม่น้ำเจ้าพระยาที่ใหญ่ที่สุดในเอเชีย
                    เป็นพื้นที่ซึ่งได้ออกแบบให้พร้อมด้วยองค์ประกอบหลากหลาย เพื่อรองรับและเติมเต็มความต้องการของนักท่องเที่ยวและคนหลากหลายกลุ่มได้อย่างครบครัน ไม่ว่าจะเป็น...</p>
                <p> ย่านเจริญกรุง ประกอบไปด้วยร้านขายของที่ระลึกสำหรับนักท่องเที่ยว และสินค้าของตกแต่งบ้าน ที่สวยงามหลากหลาย อีกทั้งยังมีโรงละคร ที่รองรับผู้ชมได้กว่า 400 ที่นั่ง
                    สำหรับผู้ที่ชื่นชอบศิลปวัฒนธรรมไทยกับหุ่นละครเล็ก โจหลุยส์ หรือโชว์สุดอลังการจากคาลิปโซ่ รวมถึงร้านอาหารชั้นนำ</p>
                <p>ย่านกลางเมือง เป็นลานจัดกิจกรรมกลางแจ้ง และโซนอาหารนานาชาติ ที่รวบรวมอาหารขึ้นชื่อจากประเทศต่าง ๆ ในบรรยากาศง่าย ๆ สบาย ๆ พร้อมรื่นเริงไปกับเครื่องดื่มและเบียร์เย็น ๆ ที่ Asia House</p>
                <p>ย่านโรงงาน เป็นแหล่งพบปะสังสรรค์แห่งใหม่บนถนนเจริญกรุง ที่รวบรวมร้านอาหาร ผับ และร้านค้ามีสไตล์มากมาย ให้เป็นที่พักผ่อนหย่อนใจหลังเลิกงาน พรั่งพร้อมไปด้วยสินค้าแฟชั่น และของประดับตกแต่งให้เลือกซื้ออย่างจุใจ
                    ในบรรยากาศสนุกสนานยามค่ำคืน</p>
                <p> ย่านริมน้ำ ดื่มด่ำไปกับบรรยากาศแบบพาโนราม่า ริมแม่น้ำเจ้าพระยา มีสายลมเย็น ๆ พัดผ่านสร้างความสบาย ด้วยทางเดินริมแม่น้ำที่ยาวกว่า 300 เมตร พบร้านอาหารมีระดับมากมาย
                    ทั้งอาหารญี่ปุ่น อิตาเลี่ยน ไทย จีน และซีฟู้ด</p>
            </div>

        </div>

        <div class="aside padding-bottom">
            <span class="post-date">April 30, 2018</span>
            <span class="like-num">3</span>
            <span class="fa-heart">
                <img src="../static/images/home/like.png" onmouseover="hoverlike(this);"
                     onmouseout="unhoverlike(this);"/>
            </span>
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>2194 ถ.เจริญกรุง แขวงวัดพระยาไกร เขตบางคอแหลม กรุงเทพมหานคร </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดทุกวัน เวลา 16.00-24.00 น.</p>

            <div id="map"></div>

        </div>

    </div>
</section>
  {{super()}}
<script>
function myMap() {
    var place = {lat: 13.70502, lng:100.502609};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

{% endblock %}
