{% extends "header.html" %}
{% block title %}ตลาดนัดรถไฟศรีนครินทร์{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}

<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>ตลาดนัดรถไฟศรีนครินทร์</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/market/rodfai_1_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/rodfai_2_ed.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/rodfai_3_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/market/rodfai_4_ed.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>ตลาดนัดรถไฟศรีนครินทร์ เป็นตลาดนัดกลางคืนสุดแนว ย้ายสถานที่มาอยู่ที่ถนนศรีนครินทร์ เป็นตลาดที่เหมาะกับผู้ที่ชื่นชอบของโบราณ รักความคลาสสิก อารมณ์คล้ายๆ กับย้อนเข้าไปสู่ยุคเก่า
                    กลิ่นอายของสไตล์วินเทจ เป็นแหล่งเปิดท้ายขายของรวม เฟอร์นิเจอร์ ของสะสม ของตกแต่งบ้านสุดคลาสสิก รถโบราณ อะไหล่รถคลาสสิก ของสะสมโบราณ เสื้อผ้าวินเทจ
                    เป็นตลาดที่เหมาะกับผู้ที่ชื่นชอบของโบราณ รักความคลาสสิก อารมณ์คล้ายๆ กับย้อนเข้าไปสู่ยุคเก่า บรรยากาศด้านในมีทั้งการเปิดท้ายขายของ  </p>
                <p>เมื่อเข้ามาถึงด้านหน้า เราก็จะพบกับโซนพลาซ่าก่อน ภายในก็ยังมีสินค้ามากมายหลากหลายจำหน่าย ทั้งเสื้อผ้าวัยรุ่นชาย-หญิง เสื้อผ้ามือสอง รองเท้า กระเป๋า ของตกแต่งบ้าน เฟอร์นิเจอร์ เดินไปเรื่อยๆตามทางก็เจอของมากมาย
                    ให้หยุดดูหยุดเลือกได้ทั้งนั้น ภายในตลาดมีทั้งโซนนอกร่มและในร่ม ด้านในก็มีบูทร้านค้าหลายร้านเช่นเดียวกับบริเวณด้านนอก ถ้าหากเดินจนเหนื่อยก็สามารถแวะนั่งพักร้านน้ำต่างๆ ที่มีอยู่หลากหลายร้านได้ ทั้งร้านกาแฟ ร้านชา ร้านน้ำปั่น น้ำหวาน
                    มีให้เลือกทานกันให้สดชื่นหายเหนื่อย</p>
                <p>เดินเข้ามาเรื่อยๆก็จะพบกับโซนของเก่า ซึ่งจะมีทั้งของตกแต่ง ของจุกจิก เฟอร์นิเจอร์ ซึ่งล้วนแล้วแต่เป็นของมือสอง ของวินเทจ ย้อนยุค โซนนี้เรียกได้ว่าเป็น สัญลักษณ์สำคัญของ ตลาดนัดรถไฟ
                    มีทั้งของแต่งบ้านเก่าๆ เท่ๆ ถูกใจคนชอบแต่งบ้าน มีทั้งเฟอร์นิเจอร์วินเทจสวยๆหายาก หรือเฟอร์นิเจอร์ทำแบบย้อนยุค ใครกำลังอยากตกแต่งบ้าน ตกแต่งร้าน ก็สามารถมาเดินเลือกซื้อกันได้</p>

            </div>

        </div>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                {% if messages %}                  
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </span>
                            </form>
                        </span>
            <span class="post-date">February 22, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>ซอยศรีนครินทร์ 51 (หลังห้างซีคอนสแควร์) กรุงเทพมหานคร </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดบริการทุกวันพฤหัสบดี-วันอาทิตย์ <br>เวลา 17.00 น. - 01.00 น.</p>

            <div id="map"></div>

        </div>

    </div>
</section>


<script>
function myMap() {
    var place = {lat: 13.695571, lng: 100.650998};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>
{% endblock %}
