{% extends "header.html" %}
{% block title %}วัดเบญจมบพิตรดุสิตวนาราม{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages}}");
</script>
{% endif %}
{% endwith %}
  

<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>วัดเบญจมบพิตรดุสิตวนาราม</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/religious/watbenjama_1.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watbenjama_2.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watbenjama_3.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watbenjama_5.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/religious/watbenjama_6.png">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>วัดเบญจมบพิตร หรือ เรียกเต็มๆว่า “วัดเบญจมบพิตรดุสิตวนารามราชวรวิหาร” เป็นหนึ่งในสถานที่ท่องเที่ยวของกรุงเทพฯที่มีความงดงามทางด้านสถาปัตยกรรมของพระอุโบสถหินอ่อนสีขาวบริสุทธิ์สวยงาม
                    ก่อสร้างศิลปะสถาปัตยกรรมไทยโบราณที่มีความวิจิตรงดงามและเป็นระเบียบ ได้รับการยกย่องว่าเป็นวัดที่มีการวางแปลนแผนผังที่ดีที่สุดวัดหนึ่ง ทั้งยังประดับด้วยหินอ่อนที่ดีที่สุดจากประเทศอิตาลี
                    ทำให้เป็นที่รู้จักกันโดยทั่วไปในหมู่นักท่องเที่ยวชาวต่างชาติในชื่อ “Marble Temple”</p>
                <p> วัดเบญจมบพิตรดุสิตวนาราม หมายถึงวัดของพระเจ้าแผ่นดินรัชกาลที่ 5 เป็นอารามหลวงชั้นเอกชนิดราชวรวิหาร เดิมเป็นวัดโบราณ ชื่อว่า “วัดแหลม” หรือ “วัดไทรทอง”
                    ได้มีการปฏิสังขรณ์เรื่อยมา ต่อมารัชกาลที่ 5 ทรงขยายพระนคร ซื้อที่ดินบริเวณคลองสามเสน และคลองผดุงกรุงเกษมตอนเหนือของวัดเบญจมบพิตรที่ทรุดโทรมทรงทำผาติกรรมขึ้นเป็นวัดใหม่
                    โปรดให้สมเด็จพระเจ้าบรมวงค์เธอเจ้าฟ้ากรมพระยานริศรานุวัตติวงศ์ เป็นประธานในการก่อสร้างวัดใหม่ทั้งหมดแล้วพระองค์ทรงเป็นประธานในการผูกพัทธสีมาในปี 2442 ปี 2444 รัชกาลที่ 5
                    ได้ทรงประกอบพิธีวางศิลาฤกษ์พระอุโบสถ โปรดให้สร้างด้วยหินอ่อนที่สั่งมาจากประเทศอิตาลี และในปี 2453 พระองค์ ได้เสด็จสวรรคตก่อนการสร้างแล้วเสร็จ สมัยรัชกาลที่ 6
                    โปรดให้ดำเนินการต่อและอัญเชิญพระสรีรังคารในพระบาทสมเด็จพระจุลจอม เกล้าเจ้าอยู่หัว มาบรรจุไว้ใต้รัตนบัลลังก์พระพุทธชินราชในพระอุโบสถ</p>

            </div>

        </div>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                {% if messages %}                  
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </span>
                            </form>
                        </span>
            <span class="post-date">May 8, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>9 ถนนนครปฐม แขวงดุสิต เขตดุสิต กรุงเทพมหานคร 10300 </p>
            <h3>เวลาทำการ</h3>
            <p>ทุกวัน เวลา : 08.00 - 17.30 น.</p>
            <p>คนไทยไม่เสียค่าเข้าชม ชาวต่างประเทศ 20 บาท</p>

            <div id="map"></div>

        </div>

    </div>
</section>
  
<script>
function myMap() {
    var place = {lat: 13.766797, lng: 100.514105};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

{% endblock %}