{% extends "header.html" %}
{% block title %}สวนเบญจกิติ{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages}}");
</script>
{% endif %}
{% endwith %}
  
<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>สวนเบญจกิติ</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/natural/benchakiti_1_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/benchakiti_2_ed.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/benchakiti_3_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/benchakiti_4_ed.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>สวนสาธารณะใจกลางเมือง เป็นพื้นที่สีเขียวกลางกรุง สำหรับผู้รักการออกกำลังกาย โดยเฉพาะนักปั่นจักรยาน เส้นทางปั่นนับว่าใช้งานได้จริง ถนนเรียบเหมาะแก่การปั่นที่สุด
                    แถมยังมีโซนให้ความรู้เกี่ยวกับพรรณไม้ของไทยแต่ละภาคอีกด้วย</p>
                <p>สวนเบญจกิติ สร้างขึ้นในวโรกาสที่สมเด็จพระนางเจ้าสิริกิติ์ พระบรมราชินีนาถ ทรงเจริญพระชนมพรรษา ครบ 5 รอบ สวนแห่งนี้เป็นแหล่งพักผ่อน และออกกำลังกายแห่งใหม่ในกรุงเทพฯ
                    ด้วยพื้นที่โล่งสีเขียวใจกลางเมือง จุดเด่นของสวนได้แก่ บึงน้ำขนาด 86 ไร่ ที่มีทางเดิน-วิ่ง และทางจักรยานโดยรอบ แนวคิดของการจัดสร้าง "สวนเบญจกิติ" นั้น คือต้องการให้เป็นสวนสาธารณะในรูปแบบ
                    Urban Park ขนาดใหญ่ สามารถรองรับรูปแบบการใช้ชีวิตและกิจกรรมต่างๆ ของเมือง (Urban Lifestyle) ได้อย่างเต็มที่
                    เพื่อเพิ่มทางเลือกที่หลากหลายให้แก่ประชาชนที่จะเข้าไปใช้บริการในสวนสาธารณะ</p>
                <p>สวนเบญจกิติ นอกจากจะได้รับพระกรุณาโปรดเกล้าฯ พระราชทานชื่อสวนจากสมเด็จพระนางเจ้าฯ พระบรมราชินีนาถแล้ว
                    พระองค์ยังทรงมีพระราชวินิจฉัยแบบจำลองของสวนและทรงโปรดให้พิจารณาปลูกไม้ดอกไม้ประดับที่ออกดอกในช่วงเดือนต่างๆ ด้วย
                พื้นที่ของสวนแห่งนี้จึงมีความสวยงามตระการตาด้วยดอกไม้นานาชนิดที่ผลัดเปลี่ยนหมุนเวียนกันออกดอกตลอดปี และด้วยการออกแบบที่มุ่งเน้นให้เป็นสวนน้ำแห่งแรกของกรุงเทพมหานคร
                    พื้นที่ 2 ใน 3 จำนวน 86 ไร่ บริเวณด้านหน้าสวนจึงถูกสร้างให้เป็นบึงน้ำขนาดใหญ่ ภายใต้แนวคิด ป่ารักษ์น้ำ ทั้งนี้ เพื่อเชื่อมโยงเข้ากับพื้นที่ด้านหลัง
                    ซึ่งถูกกำหนดให้เป็นสวนป่าที่จำลองลักษณะทางธรรมชาติของป่าไม้ในภูมิภาคต่างๆของประเทศไทย นอกจากนั้นภายในสวนยังมีพื้นที่ใช้สอยประกอบด้วย ลานเบญจกิติ ลานองค์พระ ลานการแสดงกลางแจ้ง
                    สวนสุขภาพ สนามเด็กเล่น ทางเดิน ลู่วิ่ง ทางจักรยาน ศาลาพักผ่อน และลานจอดรถ</p>

            </div>

        </div>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                {% if messages %}                  
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </span>
                            </form>
                        </span>
            <span class="post-date">February 28, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>ถนนรัชดาภิเษก เขตคลองเตย กรุงเทพมหานคร </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดทุกวัน เวลา 04.30 - 21.00 น. </p>

            <div id="map"></div>

        </div>

    </div>
</section>


<script>
function myMap() {
    var place = {lat: 13.725966, lng: 100.558766};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>
{% endblock %}
