{% extends "header.html" %}
{% block title %}Neilson Hays Library{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages}}");
</script>
{% endif %}
{% endwith %}

<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>Neilson Hays Library</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_nelsonlib_1.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_nelsonlib_2.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_nelsonlib_3.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/museum/museum_nelsonlib_4.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p> <h3>เนลสัน เฮย์ ห้องสมุดสุดคลาสสิคในสีลม</h3>
                อาคารสไตล์นีโอคลาสสิคบนนถนนสุรวงศ์ ภายในตกแต่งด้วยเฟอร์นิเจอร์ไม้ บ่งบอกถึงความเก่าแก่ของห้องสมุด เนลสัน เฮย์ ซึ่งปัจจุบันมีอายุมากกว่า 150 ปี ใครที่ชอบอ่านหนังสือภาษาอังกฤษน่าจะถูกใจ เพราะในกรุงเทพฯ มีห้องสมุดภาษาอังกฤษอยู่แค่ไม่กี่แห่งเท่านั้นเอง
                </p>
                <p>ห้องสมุด เนลสัน เฮย์ สร้างขึ้นเพื่อเป็นอนุสรณ์แห่งความรักให้กับนาง เจนนี่ เนลสัน เฮย์ ภรรยาผู้ทำงานอุทิศตัวให้กับสมาคมห้องสมุดและเป็นผู้ที่หลงรักการอ่านหนังสือ ออกแบบโดย มารีโอ ตามัญโญ สถาปนิกชาวอิตาลี ซึ่งเข้ามารับราชการกับกระทรวงโยธาธิการในสมัยรัชกาลที่ 4 เป็นสถาปนิกคนเดียวกันกับผู้ออกแบบพระที่นั่งอนันตสมาคม ย้อนไปในสมัยนั้นที่นี่เป็นห้องสมุดเปิดให้บริการเฉพาะชาวต่างชาติเท่านั้น
                </p>
                <p>
                    ประเภทหนังสือที่อยู่ในห้องสมุดเนลสัน เฮย์ ส่วนใหญ่จะเป็นนวนิยาย ผสมกับหนังสือประวัติศาสตร์ เศรษฐกิจ และมีโซนหนังสือสำหรับเด็กด้วย สามารถนั่งอ่านในห้องสมุดรับลมจากเครื่องปรับอากาศ หรือจะยืมออกไปนั่งอ่านในสวนด้านนอกรับลมธรรมชาติก็ได้เช่นกัน ส่วนวันเสาร์และอาทิตย์ ห้องสมุดแห่งนี้ มักมีการจัดกิจกรรมอยู่บ่อย ๆ อย่างเช่นนิทรรศการศิลปะ หรือเล่านิทานสำหรับเด็ก ส่วนใครที่อยากพกคอมพิวเตอร์มานั่งทำงาน สามารถใช้ Wifi ที่มีให้บริการได้เช่นกัน
                </p>
            </div>

        </div>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% with messages = get_flashed_messages(category_filter=["likemsg"]) %}
                                {% if messages %}                  
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </span>
                            </form>
                        </span>
            <span class="post-date">February 1, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>195 ถนนสุรวงศ์ สี่พระยา เขตบางรัก กรุงเทพมหานคร 10500<br><br>
                Website: <a href="www.neilsonhayslibrary.com"> www.neilsonhayslibrary.com</a><br>
            </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดให้บริการทุกวัน ยกเว้นวันจันทร์ <br>เวลา : 09.30 - 17.00 น.</p>
            <p>
                <table class="fee">
                    <tr>
                        <td>สมาชิก</td>
                        <td>ราคาค่าสมาชิก</td>
                    </tr>
                    <tr>
                        <td>รายปี</td>
                        <td>2,500</td>
                    </tr>
                    <tr>
                        <td>รายวัน</td>
                        <td>100</td>
                    </tr>
                </table>
            </p>
            <div id="map"></div>
        </div>
    </div>
</section>

<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(13.727054, 100.522950), zoom: 10
  };
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>

{% endblock %}
