{% extends "header.html" %}
{% block title %}สวนหลวง ร.๙{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(category_filter=["loginfirst"]) %}
{% if messages %}
<script>
    alert("{{messages}}");
</script>
{% endif %}
{% endwith %}
  
<section id="blog_content" class="padding-bottom">
    <div class="page_header">
        <h1>สวนหลวง ร.๙</h1>
    </div>
    <div class="page_content">
        <div class="article">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../static/images/natural/kingrama9_4_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/kingrama9_1_ed.jpg" >
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/kingrama9_2_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/kingrama9_3_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/kingrama9_5_ed.jpg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/natural/kingrama9_6_ed.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>

            <div class="article_info">
                <p>สวนสาธารณะและสวนพฤกษศาสตร์ที่ขึ้นชื่อว่ามีขนาดใหญ่ที่สุดในกรุงเทพมหานคร ด้วยอาณาบริเวณที่กว้างขวางถึง 500 ไร่ แบ่งพื้นที่ให้เข้าเยี่ยมชมได้ทั้งหมด 6 จุด ได้แก่</p>
                <p>บริเวณที่ 1 อุทยานมหาราช ประกอบด้วยหอรัชมงคล ด้านหน้าเป็นสวนราชพฤกษ์และสระน้ำพุขนาดใหญ่ 3 สระ ตกแต่งด้วยไม้ดอกไม้ประดับสวยงาม</p>
                <p>บริเวณที่ 2 เป็นสวนพฤกษศาสตร์ขนาดใหญ่ ละลานตาไปด้วยพรรณไม้นานาชนิด ที่ปลูกตาม หลักอนุกรมวิธานและนิเวศวิทยา</p>
                <p>บริเวณที่ 3 คือตระพังแก้วเก็บน้ำ เป็นที่รองรับน้ำเพื่อบรรเทาปัญหาน้ำท่วมขังและยังใช้ประโยชน์ เพื่อกิจกรรมทางน้ำ ริมฝั่งเป็นที่ตั้งของอาคารชายชล
                    ซึ่งเป็นที่ทำงานของคณะกรรมการบริหาร สวนหลวง ร.9  มูลนิธิสวนหลวง ร.9  ร้านขายของที่ระลึกและร้านอาหาร</p>
                <p>บริเวณที่ 4 คือสวนรมณีย์ เป็นสวนที่ทำเลียนแบบธรรมชาติ โดยนำหินธรรมชาติจากหลายภาค ของประเทศมาจัดวางให้ดูเป็นป่าเขา พร้อมนำพรรณไม้จากป่าต่างๆ
                    มาปลูกให้ดูผสมกลมกลืนเสมือน ธรรมชาติของป่าเขา น้ำตกและลำธาร มาไว้ใจกลางเมือง</p>
                <p>บริเวณที่ 5 เป็นพื้นที่ของสวนน้ำตามพระราชดำริของพระบาทสมเด็จพระเจ้าอยู่หัว เพื่อจำลองให้คล้ายกับ “พรุ” ตามสภาพธรรมชาติ และใช้สำหรับศึกษาและให้ความรื่นรมย์แก่ผู้เข้าชม</p>
                <p>บริเวณที่ 6 เป็นสนามราษฎร์และศูนย์กีฬา เป็นพื้นที่อเนกประสงค์ มีสนามกว้างและสังคีตศาลา ซึ่งเป็นเวทีแสดงกลางแจ้ง สำหรับใช้เป็นสถานที่จัดกิจกรรมต่างๆ ภายในสวนหลวง ร.9
                    ยังมีสวนนานาชาติ ที่จัดแสดงลักษณะสวนของประเทศต่างๆ เช่น สวนจีน สวนญี่ปุ่น สวนสเปน สวนอังกฤษ สวนฝรั่งเศส และสวนอิตาลี สำหรับสวนของประเทศสหรัฐอเมริกา
                    ได้จัดสร้างเป็นอาคารจิโอเดสิคโดมเพื่อใช้สำหรับปลูกรวบรวมพืชทนแล้ง</p>
            </div>

        </div>

        <div class="aside padding-bottom">
                <span class="likespan">
                        {% if countmsg %}
                            <span class="like-num">{{ countmsg }}</span>
                        {% else %}
                            <span class="like-num">0</span>
                        {% endif %}    
                            <form method="POST" action="">
                            <span class="fa-heart">
                                {% if likemsg == 'True' %}               
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/liked.png" 
                                    onmouseover="unhoverlike(this);"
                                    onmouseout="hoverlike(this);"/>
                                </button>
                                {% else %}
                                <button class="heartbtn" type="submit" value="place_museum_artinparadise"
                                name="likebtn">
                                    <img src="../static/images/home/like.png" 
                                    onmouseover="hoverlike(this);"
                                    onmouseout="unhoverlike(this);"/>
                                </button>
                                {% endif %}
                             
                            </span>
                            </form>
                        </span>
            <span class="post-date">April 14, 2018</span>
            
            <hr>
            <h3>ที่ตั้ง</h3>
            <p>แขวงหนองบอน เขตประเวศ ทางตะวันออกของกรุงเทพมหานคร </p>
            <h3>เวลาทำการ</h3>
            <p>เปิดทุกวัน เวลา 05.00 - 19.00 น. </p>

            <div id="map"></div>

        </div>

    </div>
</section>

<script>
function myMap() {
    var place = {lat: 13.689748, lng: 100.664134};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: place
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
}
</script>
<script language="JavaScript" src="../static/js/slideshow.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xE0K1JFc3ZSwbEjqG2NfHGiHvRWUin0&callback=myMap"></script>
{% endblock %}
