{% extends "header.html" %}
{% block title %}Home | Roam{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
{% endblock %}

{% block body %}
<section id="blog_type" class="padding-bottom">

    <div class="img_type">

        <img class="mySlides" src="../static/images/type_market/head_market_1.jpg">
        <img class="mySlides" src="../static/images/type_market/head_market_2.jpg">
        <img class="mySlides" src="../static/images/type_market/head_market_3.jpg">

        <div class="description_type">
            <h1>Market</h1>
            <p>It’s incredible to think about how many shopping markets in Bangkok are available for you to explore!</p>
        </div>
    </div>
    <div class="block_type_list">
        <!--places 1-->
        <div class="block_type_content">
            <div class="block_1">
                <img class="block_img" src="../static/images/market/rodfai_1_ed.jpg" alt=""  >
            </div>
            <div class="block_2">
                <div class="block_info">
                <h3 >[ ตลาดนัดรถไฟ ] เดินกินเดินเที่ยวที่ศรีนครินทร์</h3>
                <p>
                    ทำไมต้องตลาดนัดรถไฟ? <br>
                    ตลาดนัดกลางคืนสุดแนว ย้ายสถานที่มาอยู่ที่ถนนศรีนครินทร์ เป็นตลาดที่เหมาะกับ<br>ผู้ที่ชื่นชอบของโบราณ รักความคลาสสิก
                    อารมณ์คล้ายๆ กับย้อนเข้าไปสู่ยุคเก่า <br>กลิ่นอายของสไตล์วินเทจ ....&nbsp; &nbsp; &nbsp;<a href="place_rodfai.html">เพิ่มเติม</a>
                </p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
        <!--places 2-->
        <div class="block_type_content">
            <div class="block_1">
                <div class="block_info">
                <h3 >[ ตลาดน้ำคลองลัดมะยม ] ตลาดน้ำของชาวบ้านชุมชนริมคลองลัดมะยม</h3>
                <p>
                    จุดเด่นของตลาดน้ำคลองลัดมะยม? <br>
                    แหล่งจำหน่ายสินค้าที่ผลิตในชุมชน รวมทั้งผักผลไม้ ขนม อาหารคาวหวานที่ทำสืบต่อกันมา<br>
                    รวมไปถึงยังมีสินค้าประเภทต้นไม้ดอกไม้ กล้วยไม้ เป็นตลาดที่เน้นในเรื่องของงานศิลปะ งานแฮนด์เมด....&nbsp; &nbsp; &nbsp;<a href="place_khlongladmayom.html">เพิ่มเติม</a> </p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                </div>

            </div>
            <div class="block_2">
                <img class="block_img" src="../static/images/market/khlongladmayom_3_ed.jpg" alt=""  >
            </div>

        </div>

        <!--places 3-->
        <div class="block_type_content">
            <div class="block_1">
                <img class="block_img" src="../static/images/market/asiatique_1.jpg" alt=""  >
            </div>
            <div class="block_2">
                <div class="block_info">
                <h3 >[ Asiatique ] แชะ ชอป ชิล ที่ Asiatique</h3>
                <p>
                     แหล่งท่องเที่ยวและชอปปิงไลฟ์สไตล์ริมแม่น้ำเจ้าพระยา <br>
                    เอเชียทีค เดอะ ริเวอร์ฟร้อนท์ แหล่งท่องเที่ยวและไลฟไสตล์ชอปปิงริมแม่น้ำเจ้าพระยา <br>ที่ใหญ่ที่สุดในเอเชีย เป็นพื้นที่ซึ่งได้ออกแบบให้พร้อมด้วยองค์ประกอบหลากหลาย<br>
                    เพื่อรองรับ และเติมเต็มความต้องการของนักท่องเที่ยวและคนหลากหลายกลุ่มได้อย่างครบครัน ....&nbsp; &nbsp; &nbsp;<a href="place_asiatique.html">เพิ่มเติม</a> 
                </p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                </div>
            </div>
        </div>

    </div>


</section>
<script language="JavaScript" src="../static/js/script_img_change.js"></script>
{% endblock %}